*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/*页脚 footer*/
footer{
    color: #888888;
    margin-top: 15px;
    text-align: center;
    padding:10px;

}/*头像*/
.avatar{
    width: 40px;
}
/*电影列表*/
.boke-list{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.boke-list li{
    padding:12px 24px ;
    border-bottom: 1px solid #ddd;
}
.boke-list li:hover{
    background: #f8f9fa;
}
